
<header th:fragment="navbar" class="container">
    <div class="row grow">
        <div class="column shrink justify-center">
            <img src="/img/noun-ghost-1333267.png" alt="ghost_img" class="seal">
<!--            <img src="/img/noun-seal-2175744.png" alt="seal_img" class="seal">-->
        </div>
        <div class="column align-right">
            <nav>
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
<!--                    <li>-->
<!--                        <a th:href="@{/roll-dice}">Dice Game</a>-->
<!--                    </li>-->
                    <li>
                        <a href="/posts">Posts</a>
                        <ul>
                            <li>
                                <a th:href="@{/posts}">View Posts</a>
                            </li>
                            <li>
                                <a href="#">My Posts</a>
                            </li>
                            <li>
                                <a th:href="@{/posts/create}">Create Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
